* {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
body {
  background-color: #afaaaa;
}
.game-settings {
  font-family: monospace;
  font-size: 20px;
  margin: 10px 0 10px 0;
  text-align: center;
}
div {
  margin: 10px;
}

.board td {
  margin-top: 50px;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

td:hover {
  background-color: #ccc;
}

@keyframes explosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
table td.shown {
  width: 30px;
  height: 30px;
  transition: 0.8s;
  font-size: 15px;
  border: 5px;
  border-radius: 8px;
  background-color: #d0afff;
  /* background: red; */
}

table td.shownMine {
  width: 30px;
  height: 30px;
  animation: explosion 0.5s ease-in-out;
  font-size: 15px;
  /* border-radius: 8px; */
  background-color: #e04242;
}

button {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #d0afff;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #4d405f;
}

.difficulty:focus {
  outline: none;
  box-shadow: 0 0 0 3px #4d405f;
}

.darkMode {
  background-color: rgb(79 79 79);
}
