* {
  margin: auto;
}
h1,
p,
.features,
button {
  text-align: center;
  margin-top: 20px;
}

table {
  margin-top: 50px;
}
.board td {
  margin-top: 50px;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

td:hover {
  background-color: #ccc;
}
